/* CSS Base Styles */
body {
    font-family: 'Raleway', sans-serif;
    background-color: cornsilk;
    color:darkslategray;
    overflow-x: hidden;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    align-items: center;
}

header { 
    background-color: #886a6f;
    text-align: center;
    margin: 0;
    height: 10em;
    width: 100%;  
 }

 .h1 {
    color:cadetblue;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 25px;
    font-size: 2em;
}

main { 
    color: darkslategray;
 }

footer { 
    background-color: #886a6f;
    color:cadetblue;
    margin: 0;
    padding: 5px 0;
    width: 100%;
}

h2 {
    font-size: 1.6em;
    color: #F9AD81;
}


h3 {
    font-size: 1.3em;
    color: cadetblue;
}


p { margin: 5px; }

a, a:visited { text-decoration: none; }

a { color: darkslategrey; }

a:hover { color: darkslategrey; }

a:visited, a:active { color: #F9AD81; }

.main-nav ul li { margin: 50px 0; }

header h1 { text-align: center; }

footer p { text-align: center; }

figcaption h3 { font-size: 0.8em}

figure {
    margin: 10px 5px;
    position: relative;
    background: #fff;
    padding: 5px;
}

figure img {
    width: 100%;
    height: 100%;
}


.sketch-sm {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.sketch-med {
    grid-column: 2 / 4;
    grid-row: 4 / 6;
}

.sketch-lg {
    grid-column: 2 / 4;
    grid-row: 6 / 8;
}

/* CSS for smallest devices */
@media screen and (max-width: 480px) { 

.second-line {
    display: block;
}

header {
    padding-bottom: 10px;
    margin-top: -20px;
}

}

@media screen and (max-width: 720px) {

header {
    margin-top: -20px;
}

}

@media screen and (min-width: 720px) and (max-width: 1140px) {
    
    h2 {
        color: cadetblue;
    }

    header {
        margin-top: -20px;
    }

    .grid-container {
        background-image: none;
    }

    .about {
        background-color: rgba(106, 111, 136, 0);
        grid-column: 1 / 3;
    }

    .about p {
        background-color: rgba(106, 111, 136, 0);
        color: darkslategray;
    }

    .about a {
        color: #F9AD81;
    }

    .main-nav {
        grid-column: 1 / 3;
        background-color: rgba(106, 111, 136, 0);
        padding: 0;
        margin: 0;
    }

    .main-image {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
        display: block;
    }

    .image {
        display: block;
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-width: 1141px) {
    
    h2 {
        color: cadetblue;
    }

    header {
        margin-top: -20px;
    }
    
    .grid-container {
        background-image: none;
    }

    .about {
        background-color: rgba(106, 111, 136, 0);
        grid-column: 1 / 3;
    }

    .about p {
        background-color: rgba(106, 111, 136, 0);
        color: darkslategray;
    }

    .about a {
        color: #F9AD81;
    }

    .main-nav {
        grid-column: 1 / 3;
        background-color: rgba(106, 111, 136, 0);
        padding: 0;
        margin: 0;
    }

    .main-image {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
        display: block;
    }

    .image {
        display: block;
        padding: 0;
        margin: 0;
    }

    .grid-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }

    .col1 {
        grid-column: 1 / 2;
    }

    .col2 {
        grid-column: 2 / 3;
    }

}





